html {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #fff;
    background-color: #3a3e64;
}
body {
    width: 100%;
    margin: 0;
}
header {
    min-height: 750px;
    background-image: url(images/head1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
nav {
    width: 1170px;
    height: 100px;
    border-bottom: solid 1px #cbccd2;
    margin-bottom: 140px;
}
.logo {
    width: 195px;
    height: 45px;
}
a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.topmenu {
    width: 50%;
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.topmenu a {
    color: #cbccd2;
    font-size: 13px;
    font-weight: 700;
}
.topmenu a:hover {
    color: #ffffff;
}
.headertitles {
    width: 1170px;
    margin: 0 auto;
}
h1 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 65px;
    line-height: 71px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 30px;
    max-width: 912px;
}
h1 > p {
    color: #f1f1f3;
    font-size: 22px;
    line-height: 33px;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 70px;
    max-width: 1000px;
}
.button {
    background-color: #e84545;
    color: white;
    font-size: 13px;
    font-weight: 600;
    padding: 15px 47px;
    border: 0;
    height: 13px;
    width: 106px;
    text-align: center;
    border-radius: 2px;
    text-transform: uppercase;
    display: block;
    cursor: pointer;
    margin: 0 auto;
}
.button:hover {
    background: #cc0000;
}
.features {
    min-height: 615px;
    padding-top: 70px;
    background-color: #ffffff;
}
.featurestable {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.featurescell {
    width: 320px;
    margin: 0 auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding: 25px 0 25px 0;
}
.featuresicon {
    margin: 0 auto;
    width: 102px;
    height: 100px;
    padding-bottom: 15px;
}
.easily {
    background: url(images/features.png) no-repeat 0 0;
}
.responsive {
    background: url(images/features.png) no-repeat -100px 0;
}
.modern {
    background: url(images/features.png) no-repeat -200px 0;
}
.clean {
    background: url(images/features.png) no-repeat 0 -100px;
}
.ready {
    background: url(images/features.png) no-repeat -100px -100px;
}
.download {
    background: url(images/features.png) no-repeat -200px -100px;
}
.featurestext {
    flex-grow: 1;
    text-align: center;
}
.featurestitle {
    font-family: 'Raleway' sans-serif;
    font-weight: 800;
    color: #2d3033;
    font-size: 14px;
    text-transform: uppercase;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 30px;
}
.featuresarticle {
    font-family: 'Raleway' sans-serif;
    font-weight: 400;
    color: #6c7279;
    font-size: 14px;
    width: 80%;
    margin: 0 auto;
}
.works {
    width: 100%;
    min-height: 700px;
}
.workstable {
   display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.workscell {
    width: 25%;
    height: 350px;
    background-size: cover;
    background-position: 50% 50%;
    border-bottom: solid 1px #ffffff;
    box-shadow: inset 1px 1px 0 0 #ffffff;
}
.workscell:nth-child(4n+1) {
    box-shadow: inset 0 1px 0 0 #ffffff;
}
.workscell1 {
    background-image: url(images/picture1.jpg); 
}
.workscell2 {
    background-image: url(images/picture2.jpg); 
}
.workscell3 {
    background-image: url(images/picture3.jpg); 
}
.workscell4 {
    background-image: url(images/picture4.jpg); 
}
.workscell5 {
    background-image: url(images/picture5.jpg); 
}
.workscell6 {
   background-image: url(images/picture6.jpg);  
}
.workscell7 {
   background-image: url(images/picture7.jpg);  
}
.workscell8 {
    background-image: url(images/picture8.jpg); 
}
footer {
    width: 100%;
    color: white;
    text-align: center;

}
.page-footer {
    margin: 0 auto;
    color: #686b88;
    padding-bottom: 80px;
    
    width: 1170px;
   display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footercell {
    width: 33%;
    flex-grow: 1;
}
.footercell:first-child > p {
    margin: 0 auto;
    max-width: 170px;
}
.footercell:last-child > p {
    margin: 0 auto;
    max-width: 340px;
}
h4 {
    padding-top: 50px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    }
.social a {
        display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 3px;
    background-image: url("images/social.png");
    background-repeat: no-repeat;
    vertical-align: middle;
}
.social-fb {
    background-position: 0 0;
}
.social-tw {
    background-position: 50% 0;
}
.social-in {
    background-position: 100% 0;
}
    .copyright {
        width: 100%;
    text-align: center;
        color: #75767a;
        padding-bottom: 40px;
        padding-top: 30px;
        background-color: #313454;
}
.copyright > p {
    margin: 0 auto;
    max-width: 340px;
}
.authorsname {
    color: #ffffff;
}
.love {
    width: auto;
    max-width: 20px;
    height: auto;
    max-height: 20px;
}